body {
  font-family: 'PT Sans', sans-serif;
}

.enlarged_bolded_text {
  font-weight: 600;
  font-size: 1.1em;
}

.instagram_color {
  background-color: #c32aa3;
  border: none;
}

.instagram_color:hover {
  background-color: #7232bd;
}

#heroimage {
  background: white;
  width:      100%;
  height:     100%; 
  z-index:    9999;
  top:        0; 
  left:       0; 
  position:   fixed;
}

#heroimage_content {
  text-align: center;
  width: 80%;
  margin: 33vh auto 0 auto;
  max-width: 768px;
}

#content {
  text-align: center;
  width: 80%;
  margin: 100px auto 0 auto;
}

.navbar {
  border: none;
}



/*

DISABLE NAVBAR COLLAPSE


*/